*, :before, :after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', 'Sans serif';
}

.dropdowns {
    height: 100px;
}

div.container {
    margin: 34px auto;
    width: 50%;
    height: 500px;
    background-color: transparent;
}

div.dropdown {
    position: relative;
    width: 30%;
}

div.dropdown > div.caption {
    background-color: #414141;
    color: #f2f2f2;
    padding: 11px 24px;
    border-radius: 3px;
    cursor: pointer;
}

div.dropdown > div.list {
    position: absolute;
    background-color: #414141;
    color: #f2f2f2;
    width: 100%;
    border-radius: 0 0 3px 3px;
    display: none;
}

div.dropdown > div.list > div.item {
    padding: 11px 24px;
    cursor: pointer;
}

div.dropdown > div.list > div.item.selected {
    font-weight: bold;
}

div.dropdown > div.caption:hover,
div.dropdown > div.list > div.item:hover {
    background-color: rgb(83, 161, 214);
    color: #fff;
}

div.dropdown.open > div.caption {
    border-radius: 3px 3px 0 0;
    border-bottom: solid 1px #999;
}

div.dropdown.open > div.list {
    display: block;
    overflow-y: scroll;
    height: 300px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.disable_left {
    color: #b0b0b0;
    pointer-events: none;
}

.disable_right {
    color: #b0b0b0;
    pointer-events: none;
}

.button {
    background-color: #4cafa6;
    border-radius: 5px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.decoration:hover {
    background-image: linear-gradient(to right, #506d92 0%, #589392 51%, #5e81ad 100%);
}

.result_min, .result_max {
    padding: 15px;
}

.title {
    text-align: center;
}

.hidden {
    display: none;
}